{% extends "base.html" %}{% load static %}
{% block title  %}FORMULARIO{% endblock title %}
{% block content %}
    {% if message %}
        <div class="alert alert-success mt-2">
            {{message}}
        </div>
        <p>nombres: {{datos.nombres}}</p>
        <p>apellidos: {{datos.apellidos}}</p>
        <p>correo:{{datos.correo}}</p>
        <p>telefono: {{datos.telefono}}</p>
        <p>sugerencia: {{datos.sugerencia}}</p>
    {% endif %}
    {% if message_error %}
        <div class="alert alert-danger mt-2">
            {{message_error}}
        </div>
    {% endif %}
{% endblock content %}